@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.ProfileShow {
  margin-top: 100px;
  text-align: center;
  &_userIcon {
    margin-bottom: 55px;
  }
  .profile {
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      color: #112f53;
    }
    &__info {
      font-family: 'Comfortaa', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #313131;
      text-decoration: underline;
      margin-bottom: 40px;
      &-email1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        gap: 15px;
        img {
          cursor: pointer;
        }
      }
    }
    &_btn {
      background: #ff7010;
      border-radius: 8px;
      font-family: 'Comfortaa', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 25px;
      border-color: transparent;
      color: #ffffff;
      padding: 10px 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin: 0 auto;
      cursor: pointer;
      img {
        width: 18px;
        height: 18px;
      }
    }
    input[type='text'] {
      border: none;
      border-bottom: 2px solid #474665;
      background-color: transparent;
      width: 328px;
      color: #474665;
      font-size: 16px;
    }
  }
}
